.about-us-box {
    width: 500px;
    height: 500px;
    background-color:#ffffff;
    box-shadow: 0 0 25px #b9b9b9;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: #00888f;
    text-align: center;
    border-radius: 10px;
}

.about-us-box h2 {
    color: #00888f;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}


.about-us-box p {
    font-weight: normal;
    margin: 50px;
    margin-top: 30px;
}