/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.floating-background-image {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.floating-background-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header h1 {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

.header h3 {
    font-family: 'Courier New', Courier, monospace;
}

/* Navigation */
.navbar {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 10px 0 #b9b9b9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-left ul, .navbar-right ul{
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
}

.navbar-left ul li,
.navbar-right ul li {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-right button {
    background-color: transparent;
    border: none;
    padding: none;
    cursor: pointer;
    overflow: hidden;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.navbar li a {
    color: #00ADB5;
    text-decoration: none;
}

.navbar-right button img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

 /*Dropdown*/
 .dropdown {
    position: relative;
    display: inline-block;
 }

 .dropdown button  {
    background-color: #ffffff;
    padding: 1px 5px;
    border: none;
    cursor: pointer;
 }

 .dropdown button img {
    width: 50px;
    height: 50px;
 }

 .dropdown a {
    display: block;
    color: #00ADB5;
    text-decoration: none;
    padding: 10px 15px;
 }

 .dropdown .content{
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
    background-color: #f4f4f4;
    min-width: 100px;
    box-shadow: 2px 2px 5px #b9b9b9;
    z-index: 1;
 }

 .dropdown:hover .content{
    display:block;
 }

.dropdown:hover button {
    background-color: #f4f4f4;
}

.dropdown a:hover {
    background-color: #d4d4d4;
}
