body {
    padding: 10px;
}

.wrapper {
    background: white;
    margin: 100px auto;
    max-width: 1100px;
}

.wrapper nav {
    display: flex;
    justify-content: center;
}

nav.items {
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
}
nav .items .item {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #00ADB5;
    border: 2px solid #00ADB5;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .items .active,
nav .items .item:hover {
    color: black;
    background: #00ADB5;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.gallery .box{
    padding: 20px;
    width: calc(100% / 4);
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery .box.hide {
    display: none;
}

.gallery .box.show {
    animation: animate 0.4s ease;
}

@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.gallery .box span {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .box:hover {
    transform: scale(1.1);
}