.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.chart-container div {
    margin: 20px;
    width: 100%;
}

.button-container {
    position: absolute;
    top: 150px; 
    right: 100px;  
}

.button {
    background-color: #00ADB5; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
  
.button:hover {
    background-color: #00858b; 
}

.budget-info {
    width: 800px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;
}

canvas {
    max-width: 100%; 
    height: auto; 
}

canvas {
    width: 100% !important; /* Override any inline styles from Chart.js */
    height: auto !important; /* Maintain aspect ratio */
}