.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.chart-container div {
    margin: 20px;
}

.button-container {
    position: absolute;
    top: 150px; 
    right: 100px;  
}

.button {
    background-color: #00ADB5; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #00858b; 
}

.budget-info {
    width: 800px;
    background-color:#ffffff;
    height: 1200px;
}