name: Workflow for Codecov
on: [push, pull_request]
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      #here
      - name: install coverage.py
        run: pip install coverage
      - name: install gcc
        run: sudo apt install gcc
        #here
      - name: Run tests and collect coverage
        run: npm run test
      - name: Upload coverage to Codecov
        # uses: codecov/codecov-action@v4
        # env:
        #   CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          # Replace `linux` below with the appropriate OS
          # Options are `alpine`, `linux`, `macos`, `windows`
          curl -Os https://cli.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov --verbose upload-process --fail-on-error -t ${{ secrets.CODECOV_TOKEN }} -n 'service'-${{ github.run_id }} -F service -f coverage-service.xml